.mines__wrapper {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    padding: 100px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mines__container {
}

.mines__container_top {
}

.mines__container_top_score {
}

.mines__container_top_smile {
}

.mines__container_top_time {
}

.mines__container_field {
    width: 400px;
    height: 400px;
    background-color: red;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.mines__container_field_cell {
    border: 1px solid black;
}

@media (max-width: 1000px) {
    .mines__container {
        padding: 70px 0 20px 0;
    }
}
