.seabattle__container_ship_four {
    width: 160px;
    height: 40px;
    background-color: red;
}

.seabattle__container_ship_three {
    width: 120px;
    height: 40px;
    background-color: blue;
}

.seabattle__container_ship_two {
    width: 80px;
    height: 40px;
    background-color: yellow;
}

.seabattle__container_ship_one {
    width: 40px;
    height: 40px;
    background-color: green;
}
