.matched {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    background-image: url(../../../public/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}

.matched__cards {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.matched__scores {
    width: 20vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
}

@media (max-width: 1000px) {
    .matched {
        margin-top: 50px;
    }
}

@media (orientation: portrait) {
    .matched {
        flex-direction: column;
    }

    .matched__scores {
        flex-direction: row;
        order: 2;
    }
}
