.close {
    display: none;
}

.open.modal_window_rules_start__container {
    position: absolute;
    width: 100%;
    height: 100%;
    /* width: 400px; */
    /* height: 400px; */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.modal_window_rules_start__container_window {
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: url(./../../../public/images/back.jpg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.modal_window_rules_start__container_rules_text {
    padding: 5px;
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.modal_window_rules_start__container_newgame_button {
    font-size: 25px;
    padding: 12px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
